body {
    background-color: #090030;
    color: white;
}

.start {
    margin: 50px;
    text-align: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin: 0px;
    border: 1px solid white;
}

.cover {
    border: 1px solid white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu div h1 {
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.menu div {
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    height: 190px;
    width: 190px;
}

.menu div:hover {
    height: 200px;
    width: 200px;
}